// Specific CSS for your home-page
@import "components/card";


body {
  background-color: #F8F6F6;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.container p {
  padding-top: 15px;
  color: black;
}

.container h1 {
  color: #00D54B;
  padding-top: 15px;
  font-weight: bold;
}

#colorwhite {
  color: white;
}

.banner {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
}

