// Specific CSS for your home-page
@import "components/card";


body {
  background-color: #FFFFFF;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  min-height: 87.5vh;
}

.container p {
  padding-top: 15px;
  color: black;
}

h3 {
  color: #00D54B;
  font-weight: bold;
}

.container h1 {
  color: #00D54B;
  padding-top: 15px;
  font-weight: bold;
}

#colorwhite {
  color: white;
}

.banner {
  background-image: image-url('banner-clean-vaccine-2.jpg');
  background-size: cover;
  background-position: center;
  height: 520px;
  text-align: center;
}

li {
  margin-left: 0px; }




