// Specific CSS for your home-page


body {
  background-color: #F8F6F6;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.container p {
  padding-top: 15px;
  color: black;
}

.container h1 {
  color: #00D54B;
  padding-top: 15px;
  font-weight: bold;
}

#colorwhite {
  color: white;
}

.banner {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 1px;
}

.card-product .card-product-infos {
  padding: 16px;
}



