.border-top {
  border-top: 1px solid #000000;
  padding-top: 16px;
}

.border-bottom {
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
}

#vaccine-image {
  border-radius: 8px;
}

.width-100 {
  width: 100%;
}

.text-color-red {
  color: red;
}

.disclaimer {
  font-size: 16px;
}
