<div class="container">

<!-- Temporary html, should make both of these sections into tables -->

  <div class="container" id='your-vaccines'>
    <%= render 'shared/vaccines-table' %>
  </div>

  <div class="container" id="your-reservations">
    <%= render 'shared/reservations-table' %>
  </div>

</div>
