<div class="container justify-content-center">
  <%= link_to "Back to index", vaccines_path %>
  <br>
  <h1><%= @vaccine.name %></h1>

  <div class="container border-top">
    <h3>Description</h3>
    <p><%= @vaccine.description %></p>
  </div>
</div>
