<div class="banner">
</div>
<div class="container">
    <h1>Newest</h1>
    <p><%= link_to "See our newest 🔥 vaccines", vaccines_path%></p>
  <div class="card-product">
    <img src="https://source.unsplash.com/CMLL0UD6AEE/1600x900">
    <div class="card-product-infos">
      <h2>The "Donald"</h2>
      <p>Hydroxychloroquine with a hint of <strong>Mr. Clean</strong></p>
    </div>
  </div>
</div>

