<div class="banner">
  <div class="container">
    <%= image_tag "banner-clean-vaccine.jpeg"%>
    <p id="colorwhite">discover the truth about vaccines ( ͡° ͜ʖ ͡°)</p>
   </div>
</div>

<div class="container">
    <h1>Newest</h1>
    <p>see our newest 🔥 vaccines --></p>

  <div class="card-product">
    <img src="https://source.unsplash.com/CMLL0UD6AEE/1600x900">
    <div class="card-product-infos">
      <h2>The "Donald"</h2>
      <p>Hydroxychloroquine with a hint of <strong>Mr. Clean</strong></p>
    </div>
  </div>
</div>
