.hero-text {
  text-align: left;
  color: black;
  position: relative;
  top: 250px;
  left: 20px;
}

.hero-image {
  background-image: url(banner-clean-vaccine.jpg);
  background-size: cover;
  background-position: center;
  height: 420px;
  text-align: center;
}
