.hero-text {
  text-align: left;
  color: black;
  position: relative;
  padding-top: 250px;
  padding-left: 24px;
}

.hero-image {
  background-image: image-url('banner-clean-vaccine.jpg');
  background-size: cover;
  background-position: center;
  height: 420px;
  text-align: center;
}
