.navbar-lewagon {
  justify-content: space-between;
  background: #222223;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.text-white {
  color: white;
}

.search-bar {
  display: inline-block;
}

.search-bar .form {
  display: flex;
}

